* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  gap: 10px;
  flex-flow: wrap;
}

.box {
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 35px;
  font-weight: bold;
}

.a {
  width: 100%;
}

.b {
  width: calc(66.66% - 10px);
}

.c {
  width: calc(33.33% - 10px);
  order: 4;
}

.d {
  width: calc(66.66% - 10px);
  order: 5;
}

.e {
  width: calc(33.33% - 10px);
  order: 3;
}

@media (width<=1250px) {
  .b {
    width: 100%;
  }

  .c {
    width: calc(50% - 5px);
  }

  .d {
    width: calc(50% - 5px);
  }

  .e {
    width: 100%;
    order: 3;
  }
}
