/NetBeansProjects/JavaApplication6/nbproject/private/
/NetBeansProjects/UD10/nbproject/private/
/NetBeansProjects/UD10/build/
/NetBeansProjects/MiniTerminal/nbproject/private/
/NetBeansProjects/MiniTerminal/build/
/NetBeansProjects/UD11/nbproject/private/
/NetBeansProjects/UD11/build/
/NetBeansProjects/UD12/nbproject/private/
/NetBeansProjects/UD12/build/
/NetBeansProjects/Cosmere/nbproject/private/
/NetBeansProjects/Cosmere/build/
/NetBeansProjects/Cosmere/dist/
/NetBeansProjects/UD08/nbproject/private/
/NetBeansProjects/UD08/build/
