/NetBeansProjects/JavaApplication6/nbproject/private/
/NetBeansProjects/UD10/nbproject/private/
/NetBeansProjects/UD10/build/
/NetBeansProjects/MiniTerminal/nbproject/private/
/NetBeansProjects/MiniTerminal/build/
