*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

main{
    display:flex;
    justify-content: center;
}

section {
    border: 3px solid lightblue;
    padding: 30px;
    width: 700px;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    gap: 10px;
}

article {
    border: 1px solid black;
    height: 200px;
    width: 200px;
    background: lightgrey;
    font-size:xx-large;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (width <= 1250px) {

    section{
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

}