*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Times New Roman', Times, serif;
}

body{
  background: #f1efce
}

h1 {
  margin: 15px;
  color: #284957
}

.menu {
  margin: 20px;
}

.menu ul {
  list-style-type: none;
  width: 8em;
  padding: 0;
  text-align: center;
}

.menu li {
  background: #284957;
  border-radius: 5px; 
  color: #fff;
  padding: 1px;
  margin-bottom: 4px;
  border: 2px solid transparent;
  transition: border-color 0.2s ease;
  cursor: pointer
}

.menu li a {
  display: block;
  width: 100%;
}

.menu li:hover {
  border: 2px solid #d29f3a;
}